@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap");
@import "tailwindcss";

html {
  background-color: #14294A;
  scroll-behavior: smooth;
}

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jockey: "Jockey One", sans-serif; 
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-geo: "Geo", sans-serif;

  @keyframes horizontal {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

}

.animate-horizontal {
  animation: horizontal 60s linear infinite;
}

